name: Cypress Tests

on:
  push:
    branches: [master]

  pull_request:
    branches: [master]

  workflow_dispatch:

jobs:
  cypress-run:
    runs-on: ubuntu-latest
    
    steps:
      - name: Checkout repo
        uses: actions/checkout@v2
      
      # Install NPM dependencies, cache them correctly
      # and run all Cypress tests
      - name: Run Cypress
        uses: cypress-io/github-action@v2
        with:
          start: npm run test
